<form id="add_player_one" action="/" method='post'>
  <label>Enter Username for Player One: </label>
  <input type='text' placeholder='Enter Username' name='username'>
  <input type='submit' value='submit'>
</form>
