<form id="add_player_two" action="/sign_in_player_two" method='post'>
  <label>Enter Username for Player Two: </label>
  <input type='text' placeholder='Enter Username' name='username'>
  <input type='submit' value='submit'>
</form>
