<div class='container'>
  <h2>Welcome to JavaScript Racer!</h2>
  <div class='player-two-form'>
    <form id="add_player" action="/sign_in_player_two" method='post'>
      <%= erb :_player_entry_form_two %>
    </form>
  <div>
</div>
