<div id='stats-container' class='container'>
  <h2>Your Game Results!</h2>

  <p>Game Number: <%= @game.id%></p>

  <p>Winner: <%= @game.winner %></p>

  <p>Duration: <%= @game.elapsed_time %></p>

</div>
